@font-face {
  font-family: Vazir;
  src: url('./KanunStencilAR+LT-Regular.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./KanunStencilAR+LT-Heavy.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('./KanunStencilAR+LT-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: LTZaridSans;
  src: url('./29LTZaridSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: LTZaridSans;
  src: url('./29LTZaridSans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
